includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - tests/
    level: 6
    
#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false